<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
  <event name="admin_system_config_changed_section_streamx_connector_settings">
    <observer name="connector_core_config_save_observer" instance="StreamX\ConnectorCore\Config\OptimizationSettingsObserver" />
  </event>
</config>