<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="streamx_config" translate="label" sortOrder="10">
            <label>StreamX</label>
        </tab>

        <section id="streamx_connector_settings" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Connector</label>
            <tab>streamx_config</tab>
            <resource>StreamX_ConnectorCore::configuration</resource>

            <group id="general_settings" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                <label>General Settings</label>
                <field id="enable" translate="label comment" type="select" sortOrder="21" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enable StreamX Connector</label>
                    <comment>Enable indexing and ingesting data into StreamX</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="allowed_stores" translate="label comment" type="multiselect" sortOrder="31" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>List of stores to reindex</label>
                    <source_model>Magento\Config\Model\Config\Source\Store</source_model>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
            </group>

            <group id="streamx_client" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>StreamX Connector Settings</label>
                <depends>
                    <field id="streamx_connector_settings/general_settings/enable">1</field>
                </depends>
                <field id="ingestion_base_url" translate="label comment" type="text" sortOrder="11" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>StreamX Rest Ingestion base URL</label>
                    <comment>Base URL for StreamX Rest Ingestion endpoints</comment>
                </field>
                <field id="channel_name" translate="label comment" type="text" sortOrder="21" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Channel name</label>
                </field>
                <field id="channel_schema_name" translate="label comment" type="text" sortOrder="31" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Channel schema name</label>
                </field>
                <field id="product_key_prefix" translate="label comment" type="text" sortOrder="41" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Product key prefix</label>
                    <comment>The specified prefix will be used as publish/unpublish key, joined with product id</comment>
                </field>
                <field id="category_key_prefix" translate="label comment" type="text" sortOrder="51" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Category key prefix</label>
                    <comment>The specified prefix will be used as publish/unpublish key, joined with category id</comment>
                </field>
                <field id="auth_token" translate="label comment" type="text" sortOrder="61" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Auth token</label>
                    <comment>Auth token to use when calling StreamX Rest Ingestion endpoints</comment>
                </field>
                <field id="disable_certificate_validation" translate="label comment" type="select" sortOrder="71" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Disable certificate validation</label>
                    <comment>Select Yes to disable certificate validation when calling StreamX Rest Ingestion endpoints - for example to allow untrusted certificates</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>

            <group id="optimization_settings" translate="label" type="text" sortOrder="350" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Optimization Settings</label>
                <depends>
                    <field id="streamx_connector_settings/general_settings/enable">1</field>
                </depends>
                <field id="should_perform_streamx_availability_check" translate="label comment" type="select" sortOrder="50" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Check StreamX availability</label>
                    <comment>Enable to perform StreamX availability check before indexing data</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="batch_indexing_size" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Batch Indexing Size</label>
                    <comment>Specify how many changed Products / Categories can be published to StreamX in a single operation. When exceeded - the data will be published in batches</comment>
                    <validate>required-entry validate-digits validate-between-1-and-500</validate>
                </field>
            </group>
        </section>
    </system>
</config>
