<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <preference for="StreamX\ConnectorCore\Api\BulkLoggerInterface" type="StreamX\ConnectorCore\Index\BulkLogger"/>
    <preference for="StreamX\ConnectorCore\Api\Client\ClientInterface" type="StreamX\ConnectorCore\Streamx\Client"/>
    <preference for="StreamX\ConnectorCore\Api\Client\ConfigurationInterface" type="StreamX\ConnectorCore\Streamx\ClientConfiguration"/>
    <preference for="StreamX\ConnectorCore\Api\Index\TypeInterface" type="StreamX\ConnectorCore\Index\Type"/>
    <preference for="StreamX\ConnectorCore\Api\Indexer\TransactionKeyInterface" type="StreamX\ConnectorCore\Indexer\TransactionKey"/>
    <preference for="StreamX\ConnectorCore\Api\BulkRequestInterface" type="StreamX\ConnectorCore\Index\BulkRequest"/>
    <preference for="StreamX\ConnectorCore\Api\BulkResponseInterface" type="StreamX\ConnectorCore\Index\BulkResponse"/>
    <preference for="StreamX\ConnectorCore\Api\ConvertValueInterface" type="StreamX\ConnectorCore\Indexer\ConvertValue"/>
    <preference for="StreamX\ConnectorCore\Api\IndexInterface" type="StreamX\ConnectorCore\Index\Index"/>
    <preference for="StreamX\ConnectorCore\Api\IndexOperationInterface" type="StreamX\ConnectorCore\Index\IndexOperations"/>
    <preference for="StreamX\ConnectorCore\System\GeneralConfigInterface" type="StreamX\ConnectorCore\System\GeneralConfig"/>
    <preference for="StreamX\ConnectorCore\Cache\ConfigInterface" type="StreamX\ConnectorCore\Cache\Config"/>

    <type name="StreamX\ConnectorCore\Logger\IndexerLogger">
        <arguments>
            <argument name="name" xsi:type="string">vsbridgeIndexerLogger</argument>
            <argument name="handlers"  xsi:type="array">
                <item name="info" xsi:type="object">StreamX\ConnectorCore\Logger\Handler\Info</item>
                <item name="error" xsi:type="object">StreamX\ConnectorCore\Logger\Handler\Error</item>
            </argument>
        </arguments>
    </type>
    <type name="StreamX\ConnectorCore\Index\BulkLogger">
        <arguments>
            <argument name="logger" xsi:type="object">StreamX\ConnectorCore\Logger\IndexerLogger</argument>
        </arguments>
    </type>

    <type name="StreamX\ConnectorCore\Cache\Logger\CacheLogger">
        <arguments>
            <argument name="name" xsi:type="string">vsbridgeIndexerCacheLogger</argument>
            <argument name="handlers"  xsi:type="array">
                <item name="info" xsi:type="object">StreamX\ConnectorCore\Cache\Logger\Handler\Info</item>
            </argument>
        </arguments>
    </type>

    <type name="StreamX\ConnectorCore\Cache\Processor">
        <arguments>
            <argument name="logger" xsi:type="object">StreamX\ConnectorCore\Cache\Logger\CacheLogger</argument>
        </arguments>
    </type>

    <!-- Prevent sensitive fields from getting dumped with store config -->
    <!-- TODO add any sensitive data such as auth tokens to the Rest Ingestion endpoint here -->
    <!--    <type name="Magento\Config\Model\Config\TypePool">-->
    <!--        <arguments>-->
    <!--            <argument name="sensitive" xsi:type="array">-->
    <!--                <item name="vsbridge_indexer_settings/streamx_client/auth_pwd" xsi:type="string">1</item>-->
    <!--            </argument>-->
    <!--        </arguments>-->
    <!--    </type>-->

    <type name="Magento\Framework\Console\CommandListInterface">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="index_single_entity" xsi:type="object">StreamX\ConnectorCore\Console\Command\SingleEntityIndexCommand</item>
                <item name="rebuild" xsi:type="object">StreamX\ConnectorCore\Console\Command\RebuildEsIndexCommand</item>
                <item name="vsbridge_reset" xsi:type="object">StreamX\ConnectorCore\Console\Command\ResetEsIndexCommand</item>
            </argument>
        </arguments>
    </type>

    <type name="StreamX\ConnectorCore\Console\Command\RebuildEsIndexCommand">
        <arguments>
            <argument name="eventManager" xsi:type="object">Magento\Framework\Event\ManagerInterface\Proxy</argument>
        </arguments>
    </type>
</config>
