<?xml version="1.0" encoding="UTF-8"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">

    <type name="Magento\Catalog\Model\ResourceModel\Product">
        <plugin name="productsPlugin" type="StreamX\Connector\Plugins\ProductObserver"/>
    </type>
    <type name="Magento\Catalog\Model\Product\Action">
        <plugin name="productsMassActionPlugin" type="StreamX\Connector\Plugins\ProductObserver"/>
    </type>
</config>