<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <streamx_connector_settings>
            <streamx_client>
                <ingestion_base_url>http://rest-ingestion:8080</ingestion_base_url>
                <channel_name>data</channel_name>
                <channel_schema_name>dev.streamx.blueprints.data.DataIngestionMessage</channel_schema_name>
            </streamx_client>
            <general_settings>
                <allowed_stores>1</allowed_stores>
                <enable>0</enable>
            </general_settings>
            <optimization_settings>
                <cluster_health>0</cluster_health>
                <batch_indexing_size>1000</batch_indexing_size>
            </optimization_settings>
        </streamx_connector_settings>
    </default>
</config>
