<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <preference
      for="StreamX\ConnectorTestTools\Api\EntityAddControllerInterface"
      type="StreamX\ConnectorTestTools\Impl\EntityAddControllerImpl"/>

    <preference
      for="StreamX\ConnectorTestTools\Api\EntityEditControllerInterface"
      type="StreamX\ConnectorTestTools\Impl\EntityEditControllerImpl"/>

    <preference
      for="StreamX\ConnectorTestTools\Api\EntityDeleteControllerInterface"
      type="StreamX\ConnectorTestTools\Impl\EntityDeleteControllerImpl"/>

    <preference
      for="StreamX\ConnectorTestTools\Api\MviewReindexerInterface"
      type="StreamX\ConnectorTestTools\Impl\MviewReindexerImpl"/>

    <preference
      for="StreamX\ConnectorTestTools\Api\PriceIndexerInterface"
      type="StreamX\ConnectorTestTools\Impl\PriceIndexerImpl"/>

    <preference
      for="StreamX\ConnectorTestTools\Api\ConfigurationEditControllerInterface"
      type="StreamX\ConnectorTestTools\Impl\ConfigurationEditControllerImpl"/>

    <preference
      for="StreamX\ConnectorTestTools\Api\StoresControllerInterface"
      type="StreamX\ConnectorTestTools\Impl\StoresControllerImpl"/>

    <type name="Magento\Webapi\Controller\Rest">
        <plugin name="endpointProxyPlugin" type="StreamX\ConnectorTestTools\Impl\EndpointCoveredCodeProxyPlugin" />
    </type>

</config>
