<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <preference
      for="StreamX\ConnectorTestTools\Api\EditEntityEndpointsInterface"
      type="StreamX\ConnectorTestTools\Impl\EditEntityEndpoints"/>

    <preference
      for="StreamX\ConnectorTestTools\Api\CodeCoverageEndpointsInterface"
      type="StreamX\ConnectorTestTools\Impl\CodeCoverageEndpoints"/>

</config>
