<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <preference
      for="StreamX\ConnectorTestTools\Api\EntityAddController"
      type="StreamX\ConnectorTestTools\Impl\EntityAddControllerImpl"/>

    <preference
      for="StreamX\ConnectorTestTools\Api\EntityEditController"
      type="StreamX\ConnectorTestTools\Impl\EntityEditControllerImpl"/>

    <preference
      for="StreamX\ConnectorTestTools\Api\EntityDeleteController"
      type="StreamX\ConnectorTestTools\Impl\EntityDeleteControllerImpl"/>

    <preference
      for="StreamX\ConnectorTestTools\Api\CodeCoverageEndpointsInterface"
      type="StreamX\ConnectorTestTools\Impl\CodeCoverageEndpoints"/>

</config>
