<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="streamx_config" translate="label" sortOrder="10">
            <label>StreamX</label>
        </tab>

        <section id="streamx_indexer_settings" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Indexer</label>
            <tab>streamx_config</tab>
            <resource>StreamX_ConnectorCore::configuration</resource>

            <group id="general_settings" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                <label>General Settings</label>
                <field id="enable" translate="label comment" type="select" sortOrder="21" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enable StreamX Connector</label>
                    <comment>Enable to run indexes with StreamX.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="allowed_stores" translate="label comment" type="multiselect" sortOrder="31" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>List of stores to reindex</label>
                    <comment>For every store view separated index is created in Elastic</comment>
                    <source_model>Magento\Config\Model\Config\Source\Store</source_model>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
            </group>

            <group id="streamx_client" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>StreamX Connector Settings</label>
                <depends>
                    <field id="streamx_indexer_settings/general_settings/enable">1</field>
                </depends>
                <field id="ingestion_base_url" translate="label comment" type="text" sortOrder="11" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>StreamX Rest Ingestion base URL</label>
                </field>
                <field id="channel_name" translate="label comment" type="text" sortOrder="21" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Channel name</label>
                </field>
                <field id="channel_schema_name" translate="label comment" type="text" sortOrder="31" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Channel schema name</label>
                </field>
                <field id="auth_token" translate="label comment" type="text" sortOrder="41" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Auth token</label>
                </field>
            </group>

            <group id="indices_settings" translate="label" type="text" sortOrder="200" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Indices Settings</label>
                <depends>
                    <field id="streamx_indexer_settings/general_settings/enable">1</field>
                </depends>
                <field id="batch_indexing_size" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Batch Indexing Size</label>
                    <validate>required-entry validate-digits</validate>
                </field>
                <field id="index_name" translate="label" type="text" sortOrder="200" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Index Alias Prefix</label>
                    <comment>For each store view, store id or code will be added to index alias, e.g. "streamx_storefront_catalog_magento_1"</comment>
                </field>
                <field id="index_identifier" translate="label comment" type="select" sortOrder="250" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Index Identifier</label>
                    <comment>Choose if the index will append the Store ID or Store Code to the index alias, e.g. "streamx_storefront_magento_1" or "streamx_storefront_magento_default"</comment>
                    <source_model>StreamX\ConnectorCore\Model\Config\Source\IndexIdentifier</source_model>
                </field>
                <field id="add_identifier_to_default" translate="label comment" type="select" sortOrder="250" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Add Index Identifier to Default Store View</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="fields_limit" translate="label" type="text" sortOrder="300" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>The maximum number of fields in an index</label>
                    <comment>min value: 1000</comment>
                    <validate>required-entry validate-digits validate-digits-range digits-range-1000-</validate>
                </field>
            </group>

            <group id="redis_cache_settings" translate="label" type="text" sortOrder="300" showInDefault="1" showInWebsite="0" showInStore="1">
                <label>Redis Cache Settings</label>
                <depends>
                    <field id="streamx_indexer_settings/general_settings/enable">1</field>
                </depends>
                <field id="clear_cache" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="1">
                    <label>Clear cache</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="entity_invalidate_batch_size" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="0" showInStore="1">
                    <label>Invalidate entity batch size</label>
                    <validate>validate-number validate-zero-or-greater</validate>
                    <comment>Set "0" to avoid batch processing</comment>
                </field>
                <field id="vsf_base_url" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="0" showInStore="1">
                    <label>Vsf base Url</label>
                    <comment>with "/" in the end</comment>
                </field>
                <field id="invalidate_cache_key" translate="label" type="text" sortOrder="200" showInDefault="1" showInWebsite="0" showInStore="1">
                    <label>Invalidate Secret cache key</label>
                    <comment>Please note that Key should be equal vue-storefront/config/local.json value of server.invalidateCacheKey</comment>
                </field>
                <field id="connection_timeout" translate="label" type="text" sortOrder="300" showInDefault="1" showInWebsite="0" showInStore="1">
                    <label>Connection timeout</label>
                    <comment>in seconds</comment>
                </field>
            </group>

            <group id="optimization_settings" translate="label" type="text" sortOrder="350" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Optimization Settings</label>
                <depends>
                    <field id="streamx_indexer_settings/general_settings/enable">1</field>
                </depends>
                <field id="cluster_health" translate="label comment" type="select" sortOrder="50" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Check cluster health</label>
                    <comment>Set yes if you want to check before sending operation to update if status is green</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="max_bulk_queue_requirement" translate="label comment" type="select" sortOrder="100" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Check max bulk queue</label>
                    <comment>Set yes if you want to check before sending operation to update if pending tasks + batch indexer size are lower than max bulk queue size master node</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
