<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <streamx_connector_settings>
            <catalog_settings>
                <use_url_key_to_generate_slug>0</use_url_key_to_generate_slug>
                <use_url_key_and_id_to_generate_slug>0</use_url_key_and_id_to_generate_slug>
                <allowed_product_types>simple,configurable,bundle,grouped,virtual</allowed_product_types>
                <product_attributes>status,visibility,small_image,thumbnail,meta_title,meta_description,price_type,special_price,special_from_date,special_to_date,tax_class_id</product_attributes>
                <child_product_attributes>small_image,thumbnail,special_price,special_from_date,special_to_date</child_product_attributes>
                <use_catalog_rules>0</use_catalog_rules>
            </catalog_settings>
        </streamx_connector_settings>
    </default>
</config>
