<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="StreamX\ConnectorCatalog\Api\SlugGeneratorInterface" type="StreamX\ConnectorCatalog\Model\SlugGenerator"/>
    <preference for="StreamX\ConnectorCatalog\Api\CatalogConfigurationInterface" type="StreamX\ConnectorCatalog\Model\SystemConfig\CatalogConfig"/>
    <preference for="StreamX\ConnectorCatalog\Api\ApplyCategorySlugInterface" type="StreamX\ConnectorCatalog\Model\Category\ApplyCategorySlug"/>
    <preference for="StreamX\ConnectorCatalog\Api\LoadInventoryInterface" type="StreamX\ConnectorCatalog\Model\LoadInventory"/>
    <preference for="StreamX\ConnectorCatalog\Api\ArrayConverter\Product\InventoryConverterInterface" type="StreamX\ConnectorCatalog\ArrayConverter\Product\InventoryConverter" />
    <preference for="StreamX\ConnectorCatalog\Api\ArrayConverter\Product\CustomOptionConverterInterface" type="StreamX\ConnectorCatalog\ArrayConverter\Product\CustomOptionConverter"/>
    <preference for="StreamX\ConnectorCatalog\Api\LoadMediaGalleryInterface" type="StreamX\ConnectorCatalog\Model\Product\LoadMediaGallery"/>
    <preference for="StreamX\ConnectorCatalog\Api\LoadTierPricesInterface" type="StreamX\ConnectorCatalog\Model\Product\LoadTierPrices" />
    <preference for="StreamX\ConnectorCatalog\Model\SystemConfig\CategoryConfigInterface" type="StreamX\ConnectorCatalog\Model\SystemConfig\CategoryConfig"/>

    <type name="StreamX\ConnectorCatalog\Model\Indexer\DataProvider\Product\ConfigurableData">
        <arguments>
            <argument name="loadInventory" xsi:type="object">StreamX\ConnectorCatalog\Model\LoadChildrenInventory</argument>
        </arguments>
    </type>

    <virtualType name="StreamX\ConnectorCatalog\Indexer\ProductIndexerHandlerVirtual"
                 type="StreamX\ConnectorCore\Indexer\GenericIndexerHandler">
        <arguments>
            <argument name="typeName" xsi:type="string">product</argument>
        </arguments>
    </virtualType>
    <virtualType name="StreamX\ConnectorCatalog\Indexer\CategoryIndexerHandlerVirtual"
                 type="StreamX\ConnectorCore\Indexer\GenericIndexerHandler">
        <arguments>
            <argument name="typeName" xsi:type="string">category</argument>
        </arguments>
    </virtualType>
    <virtualType name="StreamX\ConnectorCatalog\Indexer\AttributeIndexerHandlerVirtual"
                 type="StreamX\ConnectorCore\Indexer\GenericIndexerHandler">
        <arguments>
            <argument name="typeName" xsi:type="string">attribute</argument>
        </arguments>
    </virtualType>

    <type name="Magento\Framework\Mview\ViewInterface">
        <plugin name="updateMviewSubscriptions" type="StreamX\ConnectorCatalog\Plugin\Mview\ViewPlugin"/>
    </type>

    <type name="StreamX\ConnectorCatalog\Model\Indexer\Product">
        <arguments>
            <argument name="indexerHandler" xsi:type="object">StreamX\ConnectorCatalog\Indexer\ProductIndexerHandlerVirtual</argument>
        </arguments>
    </type>
    <type name="StreamX\ConnectorCatalog\Model\Indexer\Category">
        <arguments>
            <argument name="indexerHandler" xsi:type="object">StreamX\ConnectorCatalog\Indexer\CategoryIndexerHandlerVirtual</argument>
        </arguments>
    </type>
    <type name="StreamX\ConnectorCatalog\Model\Indexer\Attribute">
        <arguments>
            <argument name="indexerHandler" xsi:type="object">StreamX\ConnectorCatalog\Indexer\AttributeIndexerHandlerVirtual</argument>
        </arguments>
    </type>

    <virtualType name="StreamX\ConnectorCatalog\Indexer\CategoryDataFilterVirtual"
                 type="StreamX\ConnectorCore\Indexer\DataFilter">
        <arguments>
            <argument name="integerProperties" xsi:type="array">
                <item name="0" xsi:type="string">level</item>
                <item name="1" xsi:type="string">id</item>
                <item name="2" xsi:type="string">parent_id</item>
                <item name="3" xsi:type="string">position</item>
                <item name="4" xsi:type="string">children_count</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="StreamX\ConnectorCatalog\Model\Indexer\DataProvider\Category\AttributeData">
        <arguments>
            <argument name="dataFilter" xsi:type="object">StreamX\ConnectorCatalog\Indexer\CategoryDataFilterVirtual</argument>
        </arguments>
    </type>

    <virtualType name="StreamX\ConnectorCatalog\Indexer\CustomOptionsDataFilterVirtual"
                 type="StreamX\ConnectorCore\Indexer\DataFilter">
        <arguments>
            <argument name="integerProperties" xsi:type="array">
                <item name="1" xsi:type="string">sort_order</item>
                <item name="2" xsi:type="string">option_id</item>
                <item name="3" xsi:type="string">option_type_id</item>
            </argument>
            <argument name="floatProperties" xsi:type="array">
                <item name="0" xsi:type="string">price</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="StreamX\ConnectorCatalog\ArrayConverter\Product\CustomOptionConverter">
        <arguments>
            <argument name="dataFilter" xsi:type="object">StreamX\ConnectorCatalog\Indexer\CustomOptionsDataFilterVirtual</argument>
        </arguments>
    </type>

    <preference for="StreamX\ConnectorCatalog\Model\ResourceModel\Product\BaseSelectModifierInterface"
                type="StreamX\ConnectorCatalog\Model\ResourceModel\Product\CompositeWithWebsiteModifier" />

    <virtualType name="StreamX\ConnectorCatalog\Model\ResourceModel\Product\CompositeWithWebsiteModifier"
                 type="StreamX\ConnectorCatalog\Model\ResourceModel\Product\CompositeBaseSelectModifier">
        <arguments>
            <argument name="baseSelectModifiers" xsi:type="array">
                <item name="website" xsi:type="object">StreamX\ConnectorCatalog\Model\ResourceModel\Product\WebsiteSelectModifier</item>
                <item name="status" xsi:type="object">StreamX\ConnectorCatalog\Model\ResourceModel\Product\StatusSelectModifier</item>
            </argument>
        </arguments>
    </virtualType>

    <preference for="StreamX\ConnectorCatalog\Model\ResourceModel\Category\BaseSelectModifierInterface"
                type="StreamX\ConnectorCatalog\Model\ResourceModel\Category\CompositeWithStoreModifier" />

    <virtualType name="StreamX\ConnectorCatalog\Model\ResourceModel\Category\CompositeWithStoreModifier"
                 type="StreamX\ConnectorCatalog\Model\ResourceModel\Category\CompositeBaseSelectModifier">
        <arguments>
            <argument name="baseSelectModifiers" xsi:type="array">
                <item name="store" xsi:type="object">StreamX\ConnectorCatalog\Model\ResourceModel\Category\StoreSelectModifier</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="StreamX\ConnectorCatalog\Model\ResourceModel\Category\CompositeWithStoreChildrenModifier"
                 type="StreamX\ConnectorCatalog\Model\ResourceModel\Category\CompositeBaseSelectModifier">
        <arguments>
            <argument name="baseSelectModifiers" xsi:type="array">
                <item name="is_active" xsi:type="object">StreamX\ConnectorCatalog\Model\ResourceModel\Category\ActiveSelectModifier</item>
            </argument>
        </arguments>
    </virtualType>

    <type name="StreamX\ConnectorCatalog\Model\ResourceModel\Category\Children">
        <arguments>
            <argument name="baseSelectModifier" xsi:type="object">StreamX\ConnectorCatalog\Model\ResourceModel\Category\CompositeWithStoreChildrenModifier</argument>
        </arguments>
    </type>

    <type name="Magento\Catalog\Model\Product">
        <plugin name="update_product_in_es" type="StreamX\ConnectorCatalog\Plugin\Indexer\Product\Save\UpdateProductDataPlugin"/>
    </type>

    <type name="Magento\Catalog\Model\Category">
        <plugin name="update_category_in_es" type="StreamX\ConnectorCatalog\Plugin\Indexer\Category\Save\UpdateCategoryDataPlugin"/>
    </type>

    <type name="Magento\Catalog\Model\ResourceModel\Eav\Attribute">
        <plugin name="update_attribute_in_es" type="StreamX\ConnectorCatalog\Plugin\Indexer\Attribute\Save\UpdateAttributeDataPlugin"/>
    </type>

    <type name="Magento\CatalogInventory\Model\ResourceModel\QtyCounterInterface">
        <plugin name="register_products" type="StreamX\ConnectorCatalog\Plugin\Indexer\CatalogInventory\QtyCorrectPlugin"/>
    </type>

    <type name="Magento\CatalogInventory\Observer\RevertQuoteInventoryObserver">
        <plugin name="update_product_in_es" type="StreamX\ConnectorCatalog\Plugin\Indexer\CatalogInventory\RevertQuoteInventoryObserverPlugin"/>
    </type>
    <type name="Magento\CatalogInventory\Observer\ReindexQuoteInventoryObserver">
        <plugin name="update_product_in_es" type="StreamX\ConnectorCatalog\Plugin\Indexer\CatalogInventory\ReindexQuoteInventoryObserverPlugin"/>
    </type>
    <type name="Magento\Catalog\Controller\Adminhtml\Product\Action\Attribute\Save">
        <plugin name="update_product_in_es" type="StreamX\ConnectorCatalog\Plugin\Controller\Catalog\Adminhtml\Product\Action\AttributeSavePlugin"/>
    </type>

    <type name="StreamX\ConnectorCatalog\Index\Mapping\Product">
        <arguments>
            <argument name="additionalMapping" xsi:type="array">
                <item name="bundle_options" xsi:type="object">StreamX\ConnectorCatalog\Index\Mapping\Product\BundleOptionsMapping</item>
                <item name="product_links" xsi:type="object">StreamX\ConnectorCatalog\Index\Mapping\Product\ProductLinksMapping</item>
                <item name="configurable_options" xsi:type="object">StreamX\ConnectorCatalog\Index\Mapping\Product\ConfigurableOptionsMapping</item>
                <item name="custom_options" xsi:type="object">StreamX\ConnectorCatalog\Index\Mapping\Product\CustomOptionsMapping</item>
                <item name="tier_prices" xsi:type="object">StreamX\ConnectorCatalog\Index\Mapping\Product\TierPricesMapping</item>
                <item name="attributes_meta" xsi:type="object">StreamX\ConnectorCatalog\Index\Mapping\Product\AttributesMetaMapping</item>
            </argument>
        </arguments>
    </type>

    <type name="StreamX\ConnectorCatalog\Index\Mapping\AbstractMapping">
        <arguments>
            <argument name="staticFieldMapping" xsi:type="array">
                <item name="status" xsi:type="const">StreamX\ConnectorCore\Api\Mapping\FieldInterface::TYPE_INTEGER</item>
                <item name="visibility" xsi:type="const">StreamX\ConnectorCore\Api\Mapping\FieldInterface::TYPE_INTEGER</item>
                <item name="position" xsi:type="const">StreamX\ConnectorCore\Api\Mapping\FieldInterface::TYPE_LONG</item>
                <item name="level" xsi:type="const">StreamX\ConnectorCore\Api\Mapping\FieldInterface::TYPE_INTEGER</item>
                <item name="category_ids" xsi:type="const">StreamX\ConnectorCore\Api\Mapping\FieldInterface::TYPE_LONG</item>
                <item name="sku" xsi:type="const">StreamX\ConnectorCore\Api\Mapping\FieldInterface::TYPE_KEYWORD</item>
                <item name="url_path" xsi:type="const">StreamX\ConnectorCore\Api\Mapping\FieldInterface::TYPE_KEYWORD</item>
                <item name="url_key" xsi:type="const">StreamX\ConnectorCore\Api\Mapping\FieldInterface::TYPE_KEYWORD</item>
            </argument>
        </arguments>
    </type>

    <type name="StreamX\ConnectorCatalog\Model\Product\ParentResolver">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="configurable" xsi:type="object">StreamX\ConnectorCatalog\Model\ResourceModel\Product\Type\Configurable\GetParentsByChildId</item>
                <item name="grouped" xsi:type="object">StreamX\ConnectorCatalog\Model\ResourceModel\Product\Type\Grouped\GetParentsByChildId</item>
                <item name="bundle" xsi:type="object">StreamX\ConnectorCatalog\Model\ResourceModel\Product\Type\Bundle\GetParentsByChildId</item>
            </argument>
        </arguments>
    </type>
</config>
