<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <preference for="StreamX\ConnectorCore\Api\IndexersConfigInterface" type="StreamX\ConnectorCatalog\Model\Indexer\IndexersConfig"/>

    <type name="Magento\Framework\Mview\ViewInterface">
        <plugin name="updateMviewSubscriptions" type="StreamX\ConnectorCatalog\Plugin\Mview\ViewPlugin"/>
    </type>

    <type name="Magento\Catalog\Model\Product">
        <plugin name="product_update_plugin" type="StreamX\ConnectorCatalog\Plugin\Indexer\Product\Save\UpdateProductDataPlugin"/>
    </type>

    <type name="Magento\Catalog\Model\Category">
        <plugin name="category_update_plugin" type="StreamX\ConnectorCatalog\Plugin\Indexer\Category\Save\UpdateCategoryDataPlugin"/>
    </type>

    <type name="Magento\Catalog\Model\ResourceModel\Eav\Attribute">
        <plugin name="attribute_update_plugin" type="StreamX\ConnectorCatalog\Plugin\Indexer\Attribute\Save\UpdateAttributeDataPlugin"/>
    </type>

    <type name="Magento\Catalog\Controller\Adminhtml\Product\Action\Attribute\Save">
        <plugin name="attribute_save_plugin" type="StreamX\ConnectorCatalog\Plugin\Controller\Catalog\Adminhtml\Product\Action\AttributeSavePlugin"/>
    </type>

    <type name="Magento\CatalogImportExport\Model\Import\Product">
        <plugin name="category_update_plugin" type="StreamX\ConnectorCatalog\Plugin\Indexer\Product\Import\ProductImportPlugin"/>
    </type>
</config>
